@import url(http://fonts.useso.com/css?family=Courgette);
html {
    font-family: 'Courgette', cursive;
    color: red;
    text-shadow: 4px 4px 1px black;
    margin: 0;
    height: 100%;
    background-color: #0f0f0f;
}
header {
    font-size: x-large;
    position: absolute;
    margin: 3vmin;
}
.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#result {
    position: absolute;
    display: none;
    font-family: monospace;
    font-size: x-large;
    color: white;
    background-color: rgba(15, 15, 15, 0.2);
    width: 100%;
    word-wrap: break-word;
    margin-top: 50px;
    margin-left: 0;
}
@media (max-width: 600px) {
    header {
        display: none;
    }
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 170px;
    width: 100%;
    text-align: center;
    font-size: xx-large;
}